.App {
  text-align: center;
}
.App input{
  width:50%;
}

.App button{
  height: 20px;
  width:80px;
  margin-top: 10px;
  border:none;
  background-color:black;
  color:white
}
.App button:hover{
 cursor: pointer;
 color:grey;
}
p{
  color: red;
}
.App form{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}